<h1>Travel survey</h1>

<h2>How will you travel to the convention center?</h2>

<div class='giant-buttons'>

  <button class='btn btn-default giant-button'>
    <div class='button-image airplane-image'></div>
    I will fly
  </button>
  
  <button class='btn btn-default giant-button'>
    <div class='button-image car-image'></div>
    I will drive
  </button>
  
  <button class='btn btn-default giant-button'>
    <div class='button-image bicycle-image'></div>
    Other
  </button>

</div>
