<h1>List of teams</h1>

<ul>
  <% @teams.each do |team| %>
    <li>
      <a href="/teams/<%= team.name %>">
        <%= team.name %>
      </a>

      consists of

      <%# Load all players rows that have a team_id that matches
      the current team's id, and loop through them %>
      <% Player.where(team_id: team.id).each do |player| %>
        <%= player.name %>
      <% end %>

    </li>
  <% end %>
</ul>
