<a href="/">Back</a>

<h1>Team details page</h1>

<p>
  <b>Name</b><br>
  <%= @team.name %>
</p>

<p>
  <b>Players</b><br>

  <%# Load all player rows that have a team_id that matches
    # the current team's id, and loop through them %>
  <% Player.where(team_id: @team.id).each do |player| %>
    <%= player.name %>
    <br>
  <% end %>

</p>
