html {
  background-color: #eee;
}

@font-face {
  font-family: "Sanchez Regular";
  src: url("/fonts/Sanchez-Regular.ttf")
}
body {
  font-family: "Sanchez Regular", serif;
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-size: 16pt;
}
