<a href="/">Back</a>

<h1>Player details page</h1>

<p>
  <b>Name</b><br>
  <%= @player.name %>
</p>

<p>
  <b>Team name</b><br>
  <%# Look up the @player's team, then the name of that team %>
  <%= @player.team.name %>
</p>
