<p class="example1">
  White text on a black background
</p>
<p class="example2">
  Text with a thick border and some padding around it
</p>
<p class="example3">
  Small text in a narrow box that's indented
</p>
<p class="example4">
  Text with a thin border and lots of room around it
</p>
<p class="example5">
  Text in a box that's centered
</p>
<p class="example6">
  Text with a blue glow around it and its box
</p>
