<% @members.each do |member| %>
  <h2><%= member.name %>'s cars:</h2>

  <% cars = Car.where(member_id: member.id) %>
  <% if cars.size == 0 %>
    (None)
  <% else %>
    <ul>
    <% cars.each do |car| %>
      <li><%= car.model %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>

<h2>No one's cars:</h2>
<ul>
  <% Car.where(member_id: nil).each do |car| %>
    <li><%= car.model %></li>
  <% end %>
</ul>
