<% @cars.each do |car| %>
  <h2>
    <% member = Member.find_by(id: car.member_id) %>
    <% if member == nil %>
      No one
    <% else %>
      <%= member.username %>
    <% end %>

    has the <%= car.model %>.
  </h2>
<% end %>
